<div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#llm_query_message_<%= llm_query_message.id %>" aria-expanded="false" aria-controls="llm_query_message_<%= llm_query_message.id %>">
        <%= llm_query_message.role %>
      </button>
    </h2>
    <div id="llm_query_message_<%= llm_query_message.id %>" class="accordion-collapse collapse">
      <div class="accordion-body">
        <pre><%= llm_query_message.content %></pre>
      </div>
    </div>
  </div>
</div>