<div id="<%= dom_id problem %>" class="mt-4">
  <h4 class="d-inline-block"><%= problem.title %></h4> <span class="align-middle badge text-bg-<%= test_type(problem) %>"><%= problem.test_type %></span>
  <p><%= problem.statement %></p>
</div>
